@import url("https://fonts.googleapis.com/css2?family=Mynerve&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mynerve", cursive;
  background-color: white;
}

h1 {
  font-size: 3rem;
  padding: 2rem;
  background-color: rgb(241, 185, 82);
}

h2 {
  font-size: 2rem;
}

p,
li {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  margin-right: 1.5rem;
  font-size: 1.5rem;
  color: rgb(241, 185, 82);
  font-weight: 900;
}

a:hover {
  text-decoration: underline;
}

.homepage-footer {
  background-color: rgb(241, 185, 82);
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.center-text {
  text-align: center;
}

.margin-bottom {
  margin-bottom: 1.5rem;
}

.container {
  display: flex;
  justify-content: center;
}

.margin-left {
  margin-left: 2rem;
}
