@import url("https://fonts.googleapis.com/css2?family=Mynerve&display=swap");

body {
  font-family: "Mynerve", cursive;
  background-color: black;
  color: white;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: rgb(244, 173, 41);
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

a {
  font-size: 2rem;
  text-decoration: none;
  margin-right: 1.5rem;
  color: rgb(244, 173, 41);
}

a:hover {
  text-decoration: underline;
}

p,
li {
  font-size: 1.5rem;
}

footer p {
  font-size: 1rem;
}

.homepage {
  text-align: center;
}

.recipe-page {
  margin-right: 20vw;
}

.recipe-footer {
  margin-bottom: 2rem;
}
